[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
streamlit = "*"
gitpython = "*"
streamlit-chat = "*"
streamlit-extras = "*"
google-generativeai = "*"
tiktoken = "*"
google-cloud-aiplatform = "*"
chromadb = "*"
PyPDF2 = "*"
pypdf = "*"

[dev-packages]

[requires]
python_version = "3.10"
